<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.cordovaapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Cordova App</name>
    <description>
        A sample Apache Cordova application that detects persons using the camera.
    </description>
    <author email="dev@example.com" href="http://example.com">
        Developer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="CameraUsageDescription" value="This app requires camera access to detect persons." />
    <plugin name="cordova-plugin-camera" spec="^5.0.3" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.4" />
</widget>